<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <title>to do list</title>
  </head>
  <body>
    <header>
      <% if (task == null) {%>
      <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Insira uma tarefa" />
        <button type="submit" id="addButton">Adicionar</button>
      </form>
      <% } else { %>
      <form action="/updateOneTask/<%= task._id %>" method="post">
        <input type="text" name="task" id="task" value="<%=task.task%>" />
        <button type="submit" id="addButton">Atualizar</button>
      </form>
      <% } %>
    </header>
    <section id="tasks">
      <ul>
        <% taskList.forEach((task) => {%>
        <li>
          <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR')%>
          <a href="/getById/<%= task._id %>">Editar</a>
          <a href="/update">Apagar</a>
        </li>
        <% })%>
      </ul>
    </section>
  </body>
</html>
